/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@font-face {
    font-family: "Gamja Flower";
    src: url("./fonts/GamjaFlower-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    // font-family: "Gamja Flower", sans-serif;
    font-family: "Luckiest Guy", cursive;
}

.material-symbols-outlined {
    font-variation-settings:
        "FILL" 0,
        "wght" 400,
        "GRAD" 0,
        "opsz" 24;
}

html,
body {
    height: 100%;
}
body {
    margin: 0;
    // font-family: "Gamja Flower", sans-serif;
    font-family: "Luckiest Guy", cursive;
    // background-color: #141414;
    background-color: var(--bg-color);
    color: var(--text-color);
}
